dz1
[{"id":"a9ca6d7d.211ac","type":"inject","z":"8f662433.3ccf18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["2d844f3f.a7fc"]]},{"id":"c6f5d45c.3ca298","type":"debug","z":"8f662433.3ccf18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":180,"wires":[]},{"id":"abf1df5.b6ff42","type":"function","z":"8f662433.3ccf18","name":"Сохранение даты за проса и курса доллара","func":"msg.HW1 = msg.payload.exchangeRate[24];\nmsg.DateHW1 = msg.headers.date;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":180,"wires":[["1a072b36.16ee75"]]},{"id":"2d844f3f.a7fc","type":"http request","z":"8f662433.3ccf18","name":"Запрос курса валют","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/exchange_rates?json&date=18.10.2019","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":180,"wires":[["abf1df5.b6ff42"]]},{"id":"1a072b36.16ee75","type":"json","z":"8f662433.3ccf18","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":180,"wires":[["c6f5d45c.3ca298"]]}]
